In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Butaritari,KI,81.23,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
1,7,Rikitea,PF,76.64,clear sky,-23.1203,-134.9692,People ThankYou
2,8,San Policarpo,PH,84.76,scattered clouds,12.1791,125.5072,Agapita M. Nicart
3,14,Tezu,IN,71.28,light rain,27.9167,96.1667,Circuit House
4,19,Saint-Pierre,RE,79.92,broken clouds,-21.3393,55.4781,Alize Plage

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]



# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure nothing displays. 
fig

Figure(layout=FigureLayout(height='420px'))

In [92]:


# Grab the first hotel from the results and store the name.
AU_vacation_df = vacation_df[ (vacation_df["Country"]== "AU")]
AU_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,99,Port Macquarie,AU,72.90,overcast clouds,-31.4333,152.9167,Rydges Port Macquarie
70,184,Roebourne,AU,80.15,light rain,-20.7833,117.1333,Latitude20 Roebourne Village
82,212,Yeppoon,AU,76.78,broken clouds,-23.1333,150.7333,Villa Mar Colina
93,245,Alice Springs,AU,81.95,clear sky,-23.7000,133.8833,Desert Palms Alice Springs
107,280,Flinders,AU,74.05,overcast clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
112,289,Port Augusta,AU,74.05,scattered clouds,-32.5000,137.7667,Majestic Oasis Apartments
126,320,Mackay,AU,76.19,clear sky,-21.1500,149.2000,International Lodge Motel
139,349,Nelson Bay,AU,70.11,overcast clouds,-32.7167,152.1500,Mantra Nelson Bay
154,380,Maningrida,AU,85.86,few clouds,-12.0667,134.2667,Dhukurrdji Lodge
159,389,Yulara,AU,84.76,scattered clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
170,423,Katherine,AU,91.72,broken clouds,-14.4667,132.2667,Pine Tree Motel
179,447,Mount Isa,AU,78.57,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
190,473,Charters Towers,AU,78.78,broken clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
192,480,Mareeba,AU,82.44,clear sky,-17.0000,145.4333,Trinity Plains Tourist Park
228,587,Karratha,AU,79.90,overcast clouds,-20.7377,116.8463,ibis Styles Karratha
239,615,Port Hedland,AU,84.25,light rain,-20.3167,118.5667,The Esplanade Hotel
256,667,Kununurra,AU,93.18,scattered clouds,-15.7667,128.7333,Hotel Kununurra

In [89]:
#5a #From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Let's pick by Minimum Temp to Maximum Temp cities. 
start = input("What is your Starting City_ID from AU List you would like for your trip? ")
stop1 = input("What is your First Stop City_ID from AU List you would like for your trip? ")
stop2 = input("What is your Second Stop City_ID from AU List you would like for your trip? ")
stop3 = input("What is your Thirth Stop City_ID from AU List you would like for your trip? ")
end = input("What is your Last City_ID from AU List you would like for your trip? ")

What is your Starting City_ID from AU List you would like for your trip? Mount Isa
What is your First Stop City_ID from AU List you would like for your trip? Mareeba
What is your Second Stop City_ID from AU List you would like for your trip? Charters Towers
What is your Thirth Stop City_ID from AU List you would like for your trip? Mackay
What is your Last City_ID from AU List you would like for your trip? Mount Isa

In [90]:
(stop1),(stop2),(stop3),(end),

('Mareeba', 'Charters Towers', 'Mackay', 'Mount Isa')

In [93]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5b Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

vacation_start =AU_vacation_df.loc[(Asia_vacation_df["City"] == stop1)]
vacation_stop1 = AU_vacation_df.loc[(Asia_vacation_df["City"] == stop2)]
vacation_stop2 = AU_vacation_df.loc[(Asia_vacation_df["City"] == stop3)] 
vacation_stop3 = AU_vacation_df.loc[(Asia_vacation_df["City"] == end)] 
vacation_end = AU_vacation_df.loc[(Asia_vacation_df["City"] == stop1)]

In [94]:
(vacation_start)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
192,480,Mareeba,AU,82.44,clear sky,-17.0,145.4333,Trinity Plains Tourist Park

In [95]:
(vacation_stop1)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
190,473,Charters Towers,AU,78.78,broken clouds,-20.1,146.2667,Cattleman's Rest Motor Inn

In [96]:
(vacation_stop2)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
126,320,Mackay,AU,76.19,clear sky,-21.15,149.2,International Lodge Motel

In [97]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
179,447,Mount Isa,AU,78.57,clear sky,-20.7333,139.5,ibis Styles Mt Isa Verona

In [98]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
192,480,Mareeba,AU,82.44,clear sky,-17.0,145.4333,Trinity Plains Tourist Park

In [99]:
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0], 
end

(-17.0, 145.4333)

In [100]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Let's pick by Minimum Temp to Maximum Temp cities. 

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0], 
start
# type(start)

(-17.0, 145.4333)

In [101]:
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0], 
end

(-17.0, 145.4333)

In [102]:
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0], 
stop1

(-20.1, 146.2667)

In [103]:
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0], 
stop2

(-21.15, 149.2)

In [104]:
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0], 
stop3

(-20.7333, 139.5)

In [105]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
vacation_layer = gmaps.directions_layer(start, end, waypoints =[stop1, stop2, stop3],travel_mode = "DRIVING")
fig.add_layer(vacation_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [107]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
AU_vacation_df = pd.concat([AU_vacation_df],ignore_index=True)
AU_vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,99,Port Macquarie,AU,72.90,overcast clouds,-31.4333,152.9167,Rydges Port Macquarie
1,184,Roebourne,AU,80.15,light rain,-20.7833,117.1333,Latitude20 Roebourne Village
2,212,Yeppoon,AU,76.78,broken clouds,-23.1333,150.7333,Villa Mar Colina
3,245,Alice Springs,AU,81.95,clear sky,-23.7000,133.8833,Desert Palms Alice Springs
4,280,Flinders,AU,74.05,overcast clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
5,289,Port Augusta,AU,74.05,scattered clouds,-32.5000,137.7667,Majestic Oasis Apartments
6,320,Mackay,AU,76.19,clear sky,-21.1500,149.2000,International Lodge Motel
7,349,Nelson Bay,AU,70.11,overcast clouds,-32.7167,152.1500,Mantra Nelson Bay
8,380,Maningrida,AU,85.86,few clouds,-12.0667,134.2667,Dhukurrdji Lodge
9,389,Yulara,AU,84.76,scattered clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
10,423,Katherine,AU,91.72,broken clouds,-14.4667,132.2667,Pine Tree Motel
11,447,Mount Isa,AU,78.57,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
12,473,Charters Towers,AU,78.78,broken clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
13,480,Mareeba,AU,82.44,clear sky,-17.0000,145.4333,Trinity Plains Tourist Park
14,587,Karratha,AU,79.90,overcast clouds,-20.7377,116.8463,ibis Styles Karratha
15,615,Port Hedland,AU,84.25,light rain,-20.3167,118.5667,The Esplanade Hotel
16,667,Kununurra,AU,93.18,scattered clouds,-15.7667,128.7333,Hotel Kununurra

In [112]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
marker_info = [info_box_template.format(**row) for index, row in AU_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = AU_vacation_df[["Lat", "Lng"]]

In [115]:
# 11a. Add a marker layer for each city to the map.



city_mark = AU_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=marker_info)

fig.add_layer(marker_layer)

In [116]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))